@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin gradient-text {
  background-image: linear-gradient(
    to top right,
    $color-choice-4,
    $color-secondary-dark,
    $color-choice-3
  );
  -webkit-background-clip: text;
  color: transparent;
}
