// colors
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary: #55c75a;

$color-secondary-light: #833ab4;
$color-secondary-dark: #fd1d1d;
$color-secondary: #c779d0;

$color-choice-1: #ffb900;
$color-choice-2: #ff7730;

$color-choice-3: #2998ff;
$color-choice-4: #5643fa;

$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgba(207, 207, 207, 0.944);

//grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
