//colors
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary: #55c75a;
$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgba(207, 207, 207, 0.944);

$gutter-horizontal: 1rem;
$gutter-vertical: 1rem;
